---
siteName: DESIGNED by Luisa
---
<!DOCTYPE html>
<html lang="en">
<head>
 <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display:wght@500;800&family=Raleway&display=swap" rel="stylesheet">
   <meta name="viewport" content="width=320, initial-scale=1">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DESIGNED by Luisa</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
  <header class="site-header">
         <div id="header">
    <h1 id="logo"><center><img src="/images/DBL.png" alt="DESIGNED by Luisa" style="width:200px;height:200px;" ></center></h1>
    
      <h3><a href="/">PORTFOLIO</a> </br>
      <a href="/services/">SERVICES</a> </br>
      <a href="/contact/">CONTACT</a></h3>
    


   
   
     
  </div>
         <div id="content">
    <div id="hero">

<img src="/images/byl.png" alt="DESIGNED by Luisa" >
   <h3>Branding - Logos - Web Design </h3>
    </header>

  {{ content | safe }}

<footer>
  <p>&copy; The Creator</p>
</footer>


    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>

  <script src="/js/main.js"></script>
</body>
</html>